# Eat Safe, Love

## Notebook Set Up

In [116]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [117]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [118]:
# assign the uk_food database to a variable name
# confirm that our new database was created
db=mongo['uk_food']
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'config', 'local', 'petsitly_marketing', 'uk_food']

In [119]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [120]:
# assign the collection to a variable
establishments=db['establishments']

In [137]:
pprint(db.establishments.find_one())

{'AddressLine1': 'The Bay',
 'AddressLine2': 'St Margarets Bay',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Refreshment Kiosk',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'ChangesByServerID': 0,
 'Distance': 4587.347174863443,
 'FHRSID': 254719,
 'LocalAuthorityBusinessID': 'PI/000069980',
 'LocalAuthorityCode': '182',
 'LocalAuthorityEmailAddress': 'publicprotection@dover.gov.uk',
 'LocalAuthorityName': 'Dover',
 'LocalAuthorityWebSite': 'http://www.dover.gov.uk/',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT15 6DY',
 'RatingDate': '2022-03-24T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5.0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('63cdb99abd029cb27489be9d'),
 'geocode': {'latitude': '51.152225', 'longitude': '1.387974'},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/254719',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [170]:
# Find the establishments with a hygiene score of 20

query = { 'scores.Hygiene':{'$eq' : 20}}
fields = {'BusinessName':1,'BusinessType': 1,'LocalAuthorityName':1,'scores.Hygiene': 1}

results = establishments.find(query, fields)
results

In [171]:
# Use count_documents to display the number of documents in the result

Hygine_Count = establishments.count_documents({'scores.Hygiene': {'$eq':20}})
Hygine_Count

41

In [172]:
# Display the first document in the results using pprint
pprint(results[0])

{'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'LocalAuthorityName': 'Eastbourne',
 '_id': ObjectId('63cdb99abd029cb27489dcbb'),
 'scores': {'Hygiene': 20}}

In [173]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(list(results))

In [174]:
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head(10)

Rows in DataFrame:  41

,_id,BusinessName,BusinessType,LocalAuthorityName,scores
0,63cdb99abd029cb27489dcbb,The Chase Rest Home,Caring Premises,Eastbourne,{'Hygiene': 20}
1,63cdb99abd029cb27489e03a,Brenalwood,Caring Premises,Tendring,{'Hygiene': 20}
2,63cdb99abd029cb27489e342,Melrose Hotel,Hotel/bed & breakfast/guest house,Tendring,{'Hygiene': 20}
3,63cdb99abd029cb27489e52f,Seaford Pizza,Takeaway/sandwich shop,Lewes,{'Hygiene': 20}
4,63cdb99abd029cb27489e53d,Golden Palace,Restaurant/Cafe/Canteen,Lewes,{'Hygiene': 20}
5,63cdb99abd029cb27489eedb,Ashby's Butchers,Retailers - other,Southend-On-Sea,{'Hygiene': 20}
6,63cdb99abd029cb27489f0fa,South Sea Express Cuisine,Restaurant/Cafe/Canteen,Southend-On-Sea,{'Hygiene': 20}
7,63cdb99abd029cb2748a0629,Golden Palace,Takeaway/sandwich shop,Rochford,{'Hygiene': 20}
8,63cdb99bbd029cb2748a0a6f,The Tulip Tree,Restaurant/Cafe/Canteen,Sevenoaks,{'Hygiene': 20}
9,63cdb99bbd029cb2748a1280,F & S,Retailers - other,Basildon,{'Hygiene': 20}

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [175]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName':{'$regex':'London'},'RatingValue' :{'$gte':"4"}}
fields = {'BusinessName':1,'BusinessType': 1,'LocalAuthorityName':1,'RatingValue': 1}
                                                           
results=establishments.find(query, fields)

In [176]:
# Use count_documents to display the number of documents in the result
LondonRatingValue_Count = establishments.count_documents(query)
LondonRatingValue_Count

34

In [177]:
# Display the first document in the results using pprint
print(results[0])

{'_id': ObjectId('63cdb99abd029cb27489f6d1'), 'BusinessName': "Charlie's", 'BusinessType': 'Other catering premises', 'RatingValue': '4', 'LocalAuthorityName': 'City of London Corporation'}

In [178]:
# Convert the result to a Pandas DataFrame
result_df=pd.DataFrame(list(results))

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head(10)

Rows in DataFrame:  34

,_id,BusinessName,BusinessType,RatingValue,LocalAuthorityName
0,63cdb99abd029cb27489f6d1,Charlie's,Other catering premises,4,City of London Corporation
1,63cdb99abd029cb27489f9f6,Mv City Cruises Erasmus,Other catering premises,5,City of London Corporation
2,63cdb99abd029cb2748a0546,Benfleet Motor Yacht Club,Other catering premises,4,City of London Corporation
3,63cdb99bbd029cb2748a1344,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,5,City of London Corporation
4,63cdb99bbd029cb2748a1346,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,5,City of London Corporation
5,63cdb99bbd029cb2748a1a4d,Mv Valulla,Other catering premises,5,City of London Corporation
6,63cdb99bbd029cb2748a3b58,Froottree,Other catering premises,AwaitingInspection,City of London Corporation
7,63cdb99bbd029cb2748a3b59,Tereza Joanne,Other catering premises,5,City of London Corporation
8,63cdb99bbd029cb2748a3f22,Brick Lane Brews,Restaurant/Cafe/Canteen,4,City of London Corporation
9,63cdb99bbd029cb2748a3f3b,City Bar & Grill,Restaurant/Cafe/Canteen,5,City of London Corporation

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [179]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

#finding long and lat for Penang Flavours
pprint(db.establishments.find_one({'BusinessName': 'Penang Flavours'}))

None

In [ ]:
degree_search = 0.01
latitude = 
longitude =

In [ ]:
query = {RatingValue' :{'$eq':"5"}}
fields = {'BusinessName':1,'BusinessType': 1,'LocalAuthorityName':1,'RatingValue': 1,'scores.Hygiene':1}
                                                           
results=establishments.find(query, fields)

# Print the results

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame